* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}


.container {
    max-width: 90%;
    margin: 0 auto;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

nav ul {
    display: flex;
    gap: 40px;
    align-items: center;
}

header {
    background-color: #F3D7B7;
}


.header_text h1 {
    font-size: 64px;
    width: 447px;
}

.header_text p {
    width: 464px;
    margin: 47px 0;
}

.header_text button {
    background-color: #0a775f;
    border: none;
    border-radius: 100px;
    padding: 16px 24px;
    color: white;
}

.header_content {
    display: flex;
    justify-content: space-between;
    margin-top: 130px;
}

.header_img {
    position: relative;
    right: -5.6%;
}

.logo {
    position: absolute;
    top: -15%;
    left: -21%;
    transition: 0.5s;
}

.logo:hover {
    transform: rotate(360deg);
}


main .h1 {
    text-align: center;
    padding: 100px;
    font-weight: 700;
    font-size: 50px;
    line-height: 100%;
    font-family: 'Roboto';
}

.q {
    font-family: Roboto;
    font-weight: 500;
    font-style: Medium;
    font-size: 48px;
    color: #333333;
    margin-bottom: 10px;
}

.img_1 {
    display: flex;
    justify-content: center;
    gap: 200px;
    align-items: center;
}

.card-p {
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 22px;
    color: #333333;

}

.card-texts{
    width: 454px;
}








.e{
    font-family: Roboto;
font-weight: 500;
font-style: Medium;
font-size: 48px;
margin-bottom: 10px;
}

.card_e{
 font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 22px;
    color: #333333;
   
}

.card-text{
    width: 454px;
}


.img_2{
 display: flex;
    justify-content: center;
    gap: 200px;
    align-items: center;   
}






.card-tex{
    width:454px ;
}

.r{
  font-family: Roboto;
font-weight: 500;
font-style: Medium;
font-size: 48px; 
margin-bottom: 10px;   
}

.f{
  font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 22px;
    color: #333333;   
}


.img_3{
     display: flex;
    justify-content: center;
    gap: 200px;
    align-items: center; 
}


.k{
  font-family: Roboto;
font-weight: 500;
font-style: Medium;
font-size: 48px;
margin-bottom: 10px;        
}

.l{
  font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 22px;
    color: #333333;   
}

.img_4{
    display: flex;
    justify-content: center;
    gap: 200px;
    align-items: center;   
}

.card_te{
    width: 454px;
}

.o{
    width: 451px;
    height: 375px;
}

.img_1{
    transition: 0.3s;
}


.img_1:hover{
    transform: scale(1.3);
}

.img_2:hover{
    transform: scale(1.3);
}

.img_2{
    transition: 0.3s;
}

.img_3:hover{
    transform: scale(1.3);
}
.img_3{
    transition: 0.3s;
}

.img_4:hover{
    transform: scale(1.3);
}

.img_4{
    transition: 0.3s;
}

.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 71px 70px;
}

.bg_footer{
    background-color: #F3D7B7;
}

.footer ul{
    display: flex;
    gap: 40px;
}

.rasm{
    gap: 30px;
    display: flex;
}










